text {
	font-family: ar;
}

#meaning {
	font-size: 80px;
}

.sentence_tspan {
	font-size: 60px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    cursor: pointer;
}

.svgword {
	cursor: pointer;
}

#grammarbutton {
	cursor: pointer;
}

.sentence_tspan:selection {
	background: none;
}

#result {
	font-size: 60px;
}

@font-face {
    font-family: ar;
    src: url(ar.otf);
}

body{
	background-color: #3498db;
	font-family: ar;
}

.box{
	width: 900px;
	height: 630px;
	margin: auto;
	margin-left: 100px;
	padding: 30px;
	background-color: white;
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.profile-box{
	max-width: 300px;
	height: 650px;
	margin: auto;
	padding: 10px;
	background-color: white;
	margin-top: 50px;
	/*margin-bottom: 100px;*/
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#logo{
	width: 100%;
}

.user-info{
	text-align: center;
}