text {
	font-family: "Open Sans", sans-serif;
}

#meaning {
	font-size: 80px;
}

.sentence_tspan {
	font-size: 60px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    cursor: pointer;
}

.svgword {
	cursor: pointer;
}

#grammarbutton {
	cursor: pointer;
}

.sentence_tspan:selection {
	background: none;
}

#result {
	font-size: 60px;
}